// ================================
// Estilos base y reset
// ================================

@use 'variables' as *;

:root {
  font-family: $font-family;
}

body {
  margin: 0;
  background: $color-bg;
  color: $color-text;
}
